@page "/fetchdata"
@using BeerQuiz.Shared
@inject HttpClient Http

<PageTitle>Questions</PageTitle>

<h1>Questions</h1>

@if (questions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach(var question in questions)
    {
        <pre>
Question: @question.Question
Options: @string.Join(";", question.Options)
        </pre>
        <br />
    }
}

@code {
    private QuizItem[]? questions;

    protected override async Task OnInitializedAsync()
    {
        questions = await Http.GetFromJsonAsync<QuizItem[]>("Question");
    }
}
