@page "/"

@inject HttpClient Http

<PageTitle>3Pillar Global - Beer Quiz</PageTitle>

@if (questions == null)
{
    <p class="mx-5 mt-5">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </p>
}
else
{
    <div class="row">
        <div class="col">
            <QuestionComponent CurrentQuestion="currentQuestion" AnswerSelected="AnswerSelected" DisableAnswers="answerSelected"/>
            @if (answerSelected)
            {
                <button class="btn btn-lg btn-success mt-3" @onclick="NextQuestion">Další otázka <span class="oi oi-arrow-right"></span></button>
            }
        </div>
        <div class="col">
            <img class="img-fluid rounded shadow" src="@imageUrl" />
        </div>
    </div>
}

@code {
    private QuizItem[]? questions;
    private string imageUrl = "https://www.placemonkeys.com/700/500?random&bla=0";
    private int imageIndex = 0;
    private QuizItem? currentQuestion;
    private bool answerSelected = false;

    protected override async Task OnInitializedAsync()
    {
        questions = await Http.GetFromJsonAsync<QuizItem[]>("Question");
        SelectQuestion();
    }

    private void SelectQuestion()
    {
        if (questions != null)
        {
            int randomIndex = Random.Shared.Next(questions.Length);
            currentQuestion = questions.ElementAt(randomIndex);
            StateHasChanged();
        }
    }

    private void AnswerSelected()
    {
        answerSelected = true;
        StateHasChanged();
    }

    private void NextQuestion()
    {
        answerSelected = false;
        RefreshImage();
        SelectQuestion();
    }

    private void RefreshImage()
    {
        imageUrl = imageUrl.Substring(0, imageUrl.LastIndexOf('=') + 1) + ++imageIndex;
        StateHasChanged();
    }
}